#Footer {
    background-color: #171515;
    padding: 0rem 5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.SocialMediaIcons {
    display: flex;
}

.SocialMediaIcons>div {
    color: #d0d0d0;
    font-size: 14px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SocialMediaIcons>div i {
    rotate: -45deg;
    margin: 5px;
    transition: .5s;
}

.SocialMediaIcons>div:hover i {
    transform: translateX(5px);
    transition: .5s;

}

.bigHeadingFooter h1:first-child {
    font-size: 120px;
    font-weight: 500;
    color: white;
}

.bigHeadingFooter h1:last-child {
    font-size: 120px;
    color: #707070;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}

.FooterBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.FooterBtn button {
    border: none;
    /* width: 200px; */
    border-radius: 50px;
    font-size: 20px;
    margin: auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    transition: .5s;
    border: 1px solid white;
}

.FooterBtn button:hover {
    border: none;
    /* width: 200px; */
    border-radius: 50px;
    font-size: 20px;
    margin: auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    transition: .5s;
    border: 1px solid white;
    cursor: pointer;
}

.FooterBtn button i {
    rotate: -45deg;
    margin: 0px 5px;
    transition: .5s;
}

.FooterBtn button:hover i {
    transform: translatex(10px);
    transition: .5s;
}

.copyRightText p {
    color: #707070;
}

@media (max-width:769px) {
    #Footer {
        background-color: #171515;
        padding: 2rem 1rem;
    }
    .bigHeadingFooter h1:first-child {
        font-size: 60px;
        font-weight: 500;
        color: white;
    }
    
.bigHeadingFooter h1:last-child {
    font-size: 60px;
    color: #707070;
    font-weight: 500;
    text-transform: uppercase;
    text-align: start;
}
}